<%- include('partials/header'); -%>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">BETTERPRELEAVE</h1>
          </div>
          <!-- /.col -->

          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box shadow-lg">
              <span class="info-box-icon bg-danger"><i class="far fa-star"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">FACULTY ALLOWANCE LEAVE MONTH</span>
                <span class="info-box-number" id="allowanceLeaveFaculty">0</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>

          <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box shadow-lg">
              <span class="info-box-icon bg-success"><i class="far fa-flag"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">STUDENT ALLOWANCE LEAVE MONTH</span>
                <span class="info-box-number" id="allowanceLeaveStudent">0</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
        </div>


        <div class="row">
          <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box shadow-lg">
              <span class="info-box-icon bg-primary"><i class="far fa-user"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">ON-HOLIDAY FACULTY</span>
                <span class="info-box-number" id="onHolidayF">0</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>

          <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box shadow-lg">
              <span class="info-box-icon bg-primary"><i class="far fa-user"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">ON-HOLIDAY STUDENT</span>
                <span class="info-box-number" id="onHolidayS">0</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
        </div>

        <div class="row">

          <section class="col-lg-7 connectedSortable ui-sortable">

            <div class="card">
              <div class="card-header ui-sortable-handle" style="cursor: move;">
                <h3 class="card-title">
                  <i class="fas fa-chart-pie mr-1"></i>
                  ON-HOLIDAY FACULTY LIST
                </h3>

              </div>
              <div class="card-body">
                <table id="myTable" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Leave Type</th>
                      <th>Leaving Period</th>
                      <th>Approved By</th>
                    </tr>
                  </thead>
              
                </table>
              </div>
            </div>




          </section>


          <section class="col-lg-5 connectedSortable ui-sortable">

            <div class="card">
              <div class="card-header ui-sortable-handle" style="cursor: move;">
                <h3 class="card-title">
                  <i class="fas fa-chart-pie mr-1"></i>
                  ON-HOLIDAY STUDENT LIST
                </h3>

              </div>
              <div class="card-body">
                <table id="myTable2" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Leave Type</th>
                      <th>Leaving Period</th>
                      <th>Approved By</th>
                    </tr>
                  </thead>
              
                </table>
              </div>
            </div>


          </section>

        </div>
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <script>
  </script>

  <%- include('partials/footer'); -%>
    <script src="/script/dashboard_principle.js"></script>