<%- include('partials/header'); -%>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">BETTERPRELEAVE</h1>
          </div>
          <!-- /.col -->

          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box shadow-lg">
              <span class="info-box-icon bg-danger"><i class="far fa-star"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">ALLOWANCE LEAVE MONTH</span>
                <span class="info-box-number" id="allowanceLeave">0</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>

          <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box shadow-lg">
              <span class="info-box-icon bg-success"><i class="far fa-flag"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">CURRENT MONTH PENDING</span>
                <span class="info-box-number" id="pendingLeave">0</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
        </div>


        <div class="card">
          <div class="card-header border-transparent">
            <div class="row">
              <div class="col-md-12">
                <h3 class="card-title">YOUR MONTHLY LEAVE REPORT</h3>
                <button type="button" class="btn btn-default" style="margin-left: 15px;" id="daterange-btn-leave">
                  <i class="far fa-calendar-alt"></i> Select date
                </button>
              </div>
           
            </div>

          </div>

          <!-- /.card-header -->
          <div class="card-body p-0">
            <div class="table-responsive">
              <table class="table m-0" id="list-table">
                <thead>
                  <tr>
                    <th>LEAVE REASON</th>
                    <th>LEAVE PERIOD</th>
                    <th>APPLY DATE</th>
                    <th>STATUS</th>
                    <th>ANY REMARK</th>
                  </tr>
                </thead>
                <tbody> </tbody>
              </table>
            </div>
            <!-- /.table-responsive -->
          </div>
          <!-- /.card-body -->

          <!-- /.card-footer -->
        </div>
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <script>
  </script>

  <%- include('partials/footer'); -%>
  <script src="/script/dashboard_student.js"></script>